<IfModule mod_rewrite.c>

    RewriteEngine on
    ErrorDocument 404 http://localhost/tienda/erro/

    Rewritecond %{SCRIPT_FILENAME} !-d
    Rewritecond %{SCRIPT_FILENAME} !-f

    RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2

</IfModule>